@import '../Colors.scss';
@import '../App.scss';

.header {
    display: flex;
    z-index: 1;
    position: fixed;
    background-color: $main-color;
    width: 100%;
    .logo-cont {
        flex: 0 0 $header-height;
    }
    .nav-cont {
        display: flex;
        align-items: center;
        font-family: "Maiandra GD";
        font-size: 30px;
        color: white;
        flex: 2 0 0;
    }
    .user-buttons {
        display: flex;
        align-items: center;
        padding-right: 30px;
        flex-direction: row-reverse;
        flex: 1 0 0;
    }
}

.header-button {
    color: white;
    height: 30px;
    width: 50px;
    cursor: pointer;
    &:hover {
        color: hsl(81, 54%, 85%);
    }
}