@import '../../../Colors.scss';

.test-tab {
    display: flex;
    flex-direction: column;
    .success-col {
        color: $success-dark;
    }
    .failed-col {
        color: $failed-dark;
    }
    .not-tested-col {
        color: $not-tested-dark;
    }
    .in-progress-col {
        color: $in-progress-dark;
    }
    .no-status {
        color: hsl(0,0, 5);
    }
    .test-instructions {
        padding-top: 30px;
        .body {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}