@import '../../../Colors.scss';

.test-tab {
    display: flex;
    flex-direction: column;
    .success-col {
        color: $success-dark;
    }
    .failed-col {
        color: $failed-dark;
    }
    .not-tested-col {
        color: $not-tested-dark;
    }
    .in-progress-col {
        color: $in-progress-dark;
    }
    .test-instructions {
        padding-top: 30px;
        .body {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    .test-results {
        .step-block {
            padding-top: 10px;
            .step-header {
                padding-top: 10px;
                padding-bottom: 5px;
                font-size: 19px;
            }
            .test-block {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 20px;
                font-size: 16px;
            }
        }
    }
    .title {
        font-size: 21px;
        font-weight: bold;
    }
}