@import url(//db.onlinewebfonts.com/c/0141df8c3436a6c3eb8be69855e1ec0d?family=Maiandra+GD);
@import url(//db.onlinewebfonts.com/c/066ce24dae3730ed6c648b09efaea93a?family=Acumin+Variable+Concept);
$header-height:70px;
$titles-family: "Maiandra GD";
$text-family: "Acumin Variable Concept";
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: lightyellow;
  .header-cont{
    flex: 0 0 $header-height;
    & > .header {
      height: $header-height;
    }
  }
  .app-body {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    background-color: lightgreen;
    .content {
      flex: 1 0 0;
      background-color: white;
    }
    .footer {
      flex: 0 0 70px;
      background-color: whitesmoke;
    }
  }
}
