$main-color: hsl(203, 19, 30);

$success: hsl(146, 35, 80);
$failed: hsla(0, 100%, 75%, 0.3);
$not-tested: hsl(0, 0, 85);
$in-progress: hsl(195, 35, 80);
$success-dark: hsl(146, 35, 50);
$failed-dark: hsl(0, 35, 50);
$not-tested-dark: hsl(0, 0, 55);
$in-progress-dark: hsl(195, 35, 50);


$orange-tone0: white;
$orange-tone1: hsl(200, 15, 70);
$orange-tone2:hsl(200, 15, 60);

$orange-tone0-act: white;
$orange-tone1-act: hsl(39,87,50);
$orange-tone2-act:hsl(39,87,68);

$unselected-main: hsl(200, 15, 80);
$selected-main: hsl(200, 20, 50);

$active-gray: hsl(0,0,35);
$pasive-gray: hsl(0,0,50);
