$main-color: hsl(203, 19, 30);

$success: hsl(146, 35, 80);
$failed: hsla(0, 100%, 75%, 0.3);
$not-tested: hsl(0, 0, 85);
$in-progress: hsl(195, 35, 80);
$success-dark: hsl(146, 35, 50);
$failed-dark: hsl(0, 35, 50);
$not-tested-dark: hsl(0, 0, 55);
$in-progress-dark: hsl(195, 35, 50);
