$code-header-height: 30px;
.code-block {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 90%;
    border: 2px solid hsl(203, 19, 30);
    .code-header {
        display: flex;
        user-select: none;
        justify-content: space-between;
        align-items: center;
        height: $code-header-height;
        background-color: hsl(203, 19, 30);
        color: hsl(210, 66%, 95%);
        font-family: monospace;
        font-size: 14px;
        text-align: left;
        .file-name {
            padding-left: 15px;
            flex: 1 0 0;
        }
        .file-options {
            display: flex;
            position: relative;
        }
    }
    .code{
        margin-top: 0;
        margin-bottom: 0;
    }
}